.canvas > p {
  margin: 20px;
  margin-left: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
.canvas > p > svg {
  margin-right: 20px;
  width: 22px;
  height: 22px;
  float: left;
  fill: #bf93f8;
}
.canvas > p > span {
  float: left;
  padding-top: 5px;
  width: 80px;
}
