.input {
  display: inline-block;
  position: relative;
  width: 80%;
}
.input input {
  width: 100%;
  height: 31px;
  padding-left: 24px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #bf93f8;
  color: #999;
}
.input input:focus {
  outline: none;
}
.input svg {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 10px;
  left: 7px;
  fill: #999;
}
.button {
  float: right;
  width: 17%;
  margin: 0;
}
.button button {
  width: 100%;
  height: 31px;
  padding: 5px 1px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #bf93f8;
  border-radius: 5px;
  background-color: #bf93f8;
}
