.tags {
  margin: 0 0 20px 0;
  padding: 0;
}
.tags li {
  display: inline-block;
  margin: 10px 15px 0 0;
  padding: 5px 10px;
  border-radius: 11px;
  font-size: small;
  cursor: pointer;
  background-color: var(--color-header-background);
}
.tags li,
/* .tags li.noactive, */
.tags li:focus {
  background-color: var(--color-background);
  border: var(--color-two) 1px solid;
}
.tags li:hover,
.tags li.active {
  background-color: var(--color-two);
  color: var(--color-background);
  /* border: var(--color-one) 1px solid; */
  transition: 0.3s ease-in-out;
}
