.common {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  padding: 20px 30px;
}
.load {
  composes: common;
  color: grey;
}
.android {
  background-image: url('/src/components/bg-crop.jpg');
  background-size: cover;
  height: 100vh;
}
.error {
  composes: common;
  color: indianred;
}
.load em,
.error em {
  font-size: smaller;
}
