section > p {
  margin: 20px;
  margin-left: 10px;
  font-size: 1.3rem;
}
section > p > svg {
  margin-right: 20px;
  width: 22px;
  height: 22px;
  float: left;
  fill: #bf93f8;
}
section > p > span {
  float: left;
  padding-top: 5px;
  width: 80px;
}
