@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #2d425c;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 20;
  background-color: #081c34;
  display: flex;
  justify-content: space-between;
}
header svg {
  margin: 20px 20px 0 20px;
  fill: #bf93f8;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
header svg.active {
  fill: #583e79;
}
header .logo {
  width: 100px;
}

.panel {
  width: 100%;
  background-color: #fff;
}
.panel section {
  margin: 85px 10px 0 10px;
}

.slider {
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
}

.line-list-flex {
  display: inline-flex;
}
.list-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.down {
  height: 80px;
}
.bread {
  font-size: 16px;
  color: #fff;
  margin-top: 24px;
}

section.header-player {
  padding: 10px 5px 0 10px;
  width: 230px;
  flex: 1 1 auto;
  cursor: pointer;
  height: 70px;
}
section.header-player > img {
  width: 50px;
  height: 50px;
  float: left;
  border-radius: 3px;
}
section.header-player > article {
  float: left;
  margin-left: 10px;
  margin-top: 7px;
  /* width: 68%; */
  width: calc(100% - 70px);
  color: #fff;
}
section.header-player > article > div {
  font-size: larger;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.header-player > article > span {
  font-size: small;
  color: #fff;
}
