.setting > p {
  margin: 20px;
}

.setting > p > svg {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  float: left;
  fill: var(--color-list-svg);
}
.setting > p > span {
  float: left;
  padding-top: 5px;
  width: 80px;
}
.setting select {
  border: none;
  padding: 5px;
  border-bottom: rgb(0 0 0 / 10%) 1px solid;
  background: transparent;
  margin-left: 10px;
  font-size: 1rem;
  background-color: #fff;
  border-radius: 5px;
}
.setting select:focus {
  outline: none;
}
