.main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80vh;
}
.play svg {
  width: 52px;
  fill: #2d425c;
  margin: 0 30px;
  cursor: pointer;
}
.forward svg,
.backward svg {
  width: 32px;
  fill: #2d425c;
  cursor: pointer;
}
